@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;500;600;700&display=swap");

body {
  font-size: 16px;
  color: #313131;
  background-color: #ebebeb;
  font-family: "Exo 2", sans-serif;
}

.brand-link {
  font-size: 34px;
  color: #313131;
  margin-left: 30px;
}

.brand-link:hover {
  text-decoration: none;
}

h1 {
  text-align: center;
  margin: 50px;
}

h3 {
  text-align: center;
}

p {
  text-align: justify;
}

.row {
  margin: 30px;
}

.content-container {
  margin-bottom: 10px;
  background-color: #fff;
  padding-top: 10px;
  border-radius: 20px;
}
