@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;500;600;700&display=swap");

body {
  font-size: 16px;
  color: #313131;
  background-color: #ebebeb;
  font-family: "Exo 2", sans-serif;
}

h1 {
  text-align: center;
  margin: 50px;
}

h3 {
  text-align: center;
}

p {
  text-align: justify;
}

.row {
  margin: 30px;
}

h2 {
  margin-left: 30px;
}

#content-container {
  margin-bottom: 10px;
  background-color: #fff;
  padding-top: 10px;
  border-radius: 20px;
}

#nav-dropdown {
  background: none;
  border: none;
  margin-right: 30px;
}
